{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        "array-callback-return": "error",
        "block-spacing": "error",
        "brace-style": [
            "error",
            "1tbs"
        ],
        "callback-return": [
            "error",
            [
                "cb",
                "callback",
                "next"
            ]
        ],
        "camelcase": [
            "error",
            {
                "properties": "never"
            }
        ],
        "comma-spacing": "error",
        "comma-style": [
            "error",
            "last"
        ],
        "consistent-return": "error",
        "curly": [
            "error",
            "all"
        ],
        "default-case": "error",
        "dot-notation": [
            "error",
            {
                "allowKeywords": true
            }
        ],
        "eol-last": "error",
        "eqeqeq": "error",
        "func-style": [
            "error",
            "declaration"
        ],
        "guard-for-in": "error",
        "handle-callback-err": [
            "error",
            "err"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "key-spacing": [
            "error",
            {
                "align": "value",
                "afterColon": true,
                "beforeColon": false
            }
        ],
        "keyword-spacing": "error",
        "lines-around-comment": [
            "error",
            {
                "afterBlockComment": false,
                "afterLineComment": false,
                "beforeBlockComment": true,
                "beforeLineComment": true
            }
        ],
        "new-cap": "error",
        "new-parens": "error",
        "newline-after-var": "error",
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-caller": "error",
        "no-catch-shadow": "off",
        "no-console": 0,
        "no-delete-var": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-mixed-requires": "error",
        "no-mixed-spaces-and-tabs": [
            "error",
            false
        ],
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "VariableDeclarator": true
                }
            }
        ],
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-new-wrappers": "error",
        "no-octal": "error",
        "no-octal-escape": "error",
        "no-path-concat": "error",
        "no-process-exit": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-sequences": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-trailing-spaces": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-underscore-dangle": [
            "error",
            {
                "allowAfterThis": true
            }
        ],
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": [
            "error",
            {
                "args": "after-used",
                "vars": "all"
            }
        ],
        "no-use-before-define": "error",
        "no-useless-concat": "error",
        "no-with": "error",
        "one-var-declaration-per-line": "error",
        "quotes": [
            "error",
            "double"
        ],
        "radix": "error",
        "require-jsdoc": 0,
        "semi": "error",
        "semi-spacing": [
            "error",
            {
                "after": true,
                "before": false
            }
        ],
        "space-before-blocks": "error",
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "space-unary-ops": [
            "error",
            {
                "nonwords": false,
                "words": true
            }
        ],
        "spaced-comment": [
            "error",
            "always",
            {
                "exceptions": [
                    "-"
                ]
            }
        ],
        "strict": [
            "error",
            "global"
        ],
        "valid-jsdoc": [
            "error",
            {
                "prefer": {
                    "return": "returns"
                }
            }
        ],
        "wrap-iife": "error",
        "yoda": [
            "error",
            "never"
        ]
    }
}
